/* edit panoramicacoords */
.imagine-panorama-edit {
  clear: both;
}
.imagine-panorama-img {
  float: left;
}
.imagine-panorama-form {
  display: none;
}
.imagine-panorama-data {
   float: left;
  border: 3px solid #EDC9AF;
  border-style: grooved;
  width: 200px;
  margin-left: 10px;
  background-color: #2C3539;
  padding: 15px;
}
.imagine-panorama-data label {
   font-size: 20px;
  font-weight: normal;
   text-decoration: none;
   color: #fff;
}
.imagine-panorama-data input {
 color:#7D0552; 
 width: 80%;
background-color: #F0FFFF; 
 box-sizing: border-box;
}
textarea {
 color:#008;
background-color: #FFFFCC;
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;

 width: 100%;

}

.imagine-panorama-data-item {
 font-size: 15px;
  font-weight: normal;
   text-decoration: none;
   color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 3px;
}
.img-panorama-data-title {
  cursor: pointer;
}
.img-panorama-data-wrapper {

}

/* view panoramicacoords */
.imagine-panorama-wrapper {
  position: relative;
  clear: both;
}
.img-panoramicacoord {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}
.img-panorama-title {
  font-size: 12px;
  line-height: 12px;
}
.img-panorama-description {
  font-size: 10px;
  line-height: 10px;
  margin-top: 5px;
}
.panoramicacoord-title {
  cursor: pointer;
}
.panoramicacoord-title:hover {
  text-decoration: underline;
}
.panoramicacoord-overlay {
  background: #000;
  opacity: 0.5;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 11;
}
.img-panoramicacoord-highlight{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100%;
  display: none;
  background-repeat: no-repeat;
}
.form-managed-file div.image-widget-data {
  float: none;
}
.img-panoramicacoord-box {
  position: absolute;
  z-index: 11;
}
.img-panoramicacoord-1 {
  background-color: #6666FF;
}
.img-panoramicacoord-2 {
  background-color: #66CCCC;
}
.img-panoramicacoord-3 {
  background-color: #FF3366;
}
.img-panoramicacoord-4 {
  background-color: #FF3300;
}
.img-panoramicacoord-5 {
  background-color: #FFFF66;
}
.img-panoramicacoord-6 {
  background-color: #33FF66;
}
.img-panoramicacoord-7 {
  background-color: #99FF66;
}
.img-panoramicacoord-8 {
  background-color: #FFCC99;
}
.img-panoramicacoord-9 {
  background-color: #9966FF;
}
.img-panoramicacoord-10 {
  background-color: #33CCFF;
}
